$green-c: #0dca92;
$black-c: #00291d;
$black-l: #6a6a6a;
$white-c: #fff;

.main {
  height: calc(100vh - 80px);
  overflow: hidden;
  overflow-y: auto;
  z-index: 1;
  position: relative;
  top: 30px;
  &::-webkit-scrollbar {
    display: none;
  }
  .profile {
    .ava {
      height: 300px;
      position: relative;
      margin-bottom: 90px;
      .back {
        height: 100%;
        background-image: linear-gradient(50deg, #ef00ff, #00ffb3);
      }
      .userAva {
        position: absolute;
        left: 50%;
        height: 180px;
        width: 300px;
        transform: translateX(-50%);
        top: calc(50% + 60px);
        display: grid;
        place-content: center;
        > img {
          width: 190px;
          height: 190px;
          border-radius: 50%;
          margin: 0 auto;
          border: 3px solid $green-c;
        }
        .change-img {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: -0.1em;
          color: $green-c;
          cursor: pointer;
          border-radius: 3px;
          font-weight: 700;
        }
      }
    }
    .details {
      .name {
        text-align: center;
        h4 {
          font-size: 35px;
        }
        .hash {
          span {
            color: #0084ff;
            text-decoration: underline;
          }
        }
      }
      .follow {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-top: 10px;
        > div {
          text-align: center;
          padding: 10px 5px;
          border-radius: 5px;
          box-shadow: 0 5px 10px #00000026;
        }
      }
    }
    .status {
      position: relative;
      %gridCenter {
        display: grid;
        place-content: center;
      }
      .msgBox {
        position: absolute;
        bottom: -35px;
        grid-template-columns: minmax(200px, 350px) 40px;
        width: 100%;
        max-width: 370px;
        left: 50%;
        transform: translateX(-50%);
        padding: 1px 10px;
        place-content: center;
        background-color: #b8fff6;
        border-radius: 10px;
        padding: 5px;
        display: none;
        z-index: 2;
        .closeBox {
          position: absolute;
          right: 0;
          top: -20px;
          width: 50px;
          height: 50px;
          background-color: #b8fff6;
          border-radius: 50%;
          display: grid;
          justify-content: center;
          z-index: -1;

          i {
            font-size: 30px;
            font-weight: 800;
            color: #ce095f;
          }
        }
        textarea {
          width: 200px;
          max-width: 350px;
          height: 50px;
          padding: 15px 5px;
          font-size: 14px;
          resize: none;
          border: none;
          outline: none;
          border-radius: 5px;
          width: 90%;
          &::-webkit-scrollbar {
            display: none;
          }
          &::placeholder {
            color: #0dca92;
            font-size: 14px;
            font-weight: 600;
          }
        }
        .sendBtn {
          @extend %gridCenter;
          border-radius: 10px;
          cursor: pointer;
          width: 40px;
          height: 40px;
          margin: auto;
          i {
            color: #0dca92;
            font-size: 40px;
          }
        }
      }
      .friends {
        display: grid;
        grid-template-columns: 1fr 1fr 25px;
        padding: 20px 0;
        > div:not(:last-child) {
          text-align: center;
          display: grid;
          place-content: center;
          span {
            padding: 10px 20px;
            color: $white-c;
            display: inline-block;
            cursor: pointer;
            border-radius: 10px;
            font-weight: 500;
            width: 120px;
            display: flex;
            place-items: center;
            gap: 5px;
          }
        }
        .message {
          span {
            background-color: #0fad98;
          }
        }
        .unfollow {
          span {
            background-color: #0f73ad;
          }
        }
        .other {
          position: relative;
          display: grid;
          place-items: center;
          i {
            font-size: 25px;
            cursor: pointer;
          }
          .options {
            position: absolute;
            right: 17px;
            top: 9px;
            border: 1px solid #ce095f;
            backdrop-filter: blur(5px);
            background-color: #ffe6f1be;
            padding: 5px;
            border-radius: 5px;
            display: none;
            span {
              color: #ce095f;
              cursor: pointer;
              padding: 0 10px;
              font-weight: 600;
              display: flex;
              gap: 5px;
              place-content: center;
              min-width: 111px;
            }
          }
          .active {
            display: block;
          }
        }
      }
      .friend-req {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 20px 0;
        > div {
          text-align: center;
          display: grid;
          place-content: center;
          border-radius: 10px;
          overflow: hidden;
          min-width: 120px;
          min-height: 42px;
          span {
            padding: 10px 20px;
            color: $white-c;
            display: inline-block;
            cursor: pointer;
            font-weight: 500;
            display: flex;
            align-items: center;
            gap: 5px;
          }
        }
        .accept {
          background-color: $green-c;
          span {
            background-color: $green-c;
          }
        }
        .reject {
          background-color: #ce095f;
          span {
            background-color: #ce095f;
          }
        }
      }
      .receiv-req {
        padding: 20px 0;
        .req {
          border-radius: 10px;
          width: 170px;
          margin: 0 auto;
          min-height: 42px;
          display: grid;
          place-content: center;
          background-color: #6a6a6a;
          border-radius: 10px;
          span {
            padding: 10px 20px;
            color: $white-c;
            display: inline-block;
            cursor: pointer;
            font-weight: 500;
            display: flex;
            place-items: center;
            gap: 5px;
          }
        }
      }
      .default {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px 0;
        .send-req {
          text-align: center;
          background-color: #0084ff;
          border-radius: 10px;
          min-width: 135px;
          min-height: 42px;
          display: grid;
          place-content: center;
          span {
            padding: 10px 20px;
            color: $white-c;
            display: inline-block;
            cursor: pointer;
            font-weight: 500;
            display: flex;
            place-items: center;
            gap: 5px;
          }
        }
      }
    }
    .about-fri {
      .about {
        padding: 0 10px;
        > h3 {
          color: $green-c;
        }
        .desc {
          color: $black-l;
        }
        .info {
          padding: 10px 0;
          h3 {
            span {
              color: $black-l;
              font-weight: 300;
            }
          }
        }
        .profLink {
          display: flex;
          gap: 10px;
          flex-wrap: wrap;
          input {
            background-color: #e3e3f5;
            padding: 10px;
            max-width: 340px;
            width: 100%;
            text-overflow: ellipsis;
            border-radius: 10px;
            border: none;
            color: $black-l;
            font-weight: 500;
            outline: none;
          }
          span {
            padding: 10px;
            text-align: center;
            background-color: $green-c;
            color: $white-c;
            font-weight: 500;
            cursor: pointer;
            border-radius: 10px;
          }
        }
      }
    }
    .friendsList {
      padding: 40px 10px;
      .switch {
        display: grid;
        grid-template-columns: repeat(2, minmax(auto, 225px));
        place-content: center;
        div {
          border: 1px solid $white-c;
          h4 {
            background-color: $white-c;
            color: $green-c;
            width: 100%;
            padding: 10px;
            display: flex;
            place-content: center;
            cursor: pointer;
            border-radius: 0 10px;
          }
          .active {
            background-color: $green-c;
            color: $white-c;
          }
        }
      }
      .myFriends {
        max-width: 500px;
        display: grid;
        place-content: center;
        width: 100%;
        margin: 0 auto;
        > h4 {
          display: none;
        }
        .search {
          padding: 5px;
          display: grid;
          place-content: center;
          grid-template-columns: 1fr auto;
          position: relative;
          input {
            padding: 10px;
            padding: 10px;
            border: none;
            outline: none;
            box-shadow: 0px 0px 5px 0px $green-c;
            border-radius: 10px;
            font-size: 13px;
            font-weight: 600;
            color: $green-c;
            &::placeholder {
              font-size: 13px;
              font-weight: 600;
              color: $green-c;
            }
          }
          i {
            position: absolute;
            right: 7px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 25px;
            color: $green-c;
            cursor: pointer;
          }
        }
        .friList {
          display: grid;
          grid-template-columns: repeat(2, minmax(auto, 220px));
          gap: 10px;
          padding: 10px 0;
          max-height: 400px;
          min-height: 160px;
          position: relative;
          overflow: hidden;
          overflow-y: scroll;
          &::-webkit-scrollbar {
            display: none;
          }
          .fri {
            background-color: $white-c;
            display: grid;
            place-content: center;
            border-radius: 10px;
            box-shadow: 0 4px 5px 0px #0000002b;
            padding: 10px;
            .img {
              width: 85px;
              height: 85px;
              margin: 0 auto;
              border: 1px solid $green-c;
              border-radius: 50%;
              overflow: hidden;
            }
            .details {
              height: 45px;
              overflow: hidden;
              text-overflow: ellipsis;
              h4 {
                text-align: center;
                a {
                  color: $black-c;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
              }
            }
            .options {
              width: 100%;
              span {
                display: block;
                width: 90px;
                background-color: #ffe4f0;
                text-align: center;
                color: #ce095f;
                border: 1px solid #ce095f;
                border-radius: 9px;
                cursor: pointer;
                margin: 0 auto;
              }
            }
          }
          .empty {
            position: absolute;
          }
        }
      }
      .friendReq {
        padding: 10px;
        max-height: 500px;
        > h4 {
          display: none;
        }
        .reqList {
          max-height: 444px;
          overflow: hidden;
          overflow-y: scroll;
          &::-webkit-scrollbar {
            display: none;
          }
          .req {
            display: grid;
            grid-template-areas:
              "one two"
              "one three";
            grid-auto-columns: auto 1fr 1fr;
            column-gap: 20px;
            background-color: $white-c;
            box-shadow: 0 4px 5px 0px #0000002b;
            padding: 10px;
            border-radius: 10px;
            margin: 10px auto;
            max-width: 450px;
            width: 100%;
            min-width: 200px;
            .img {
              width: 60px;
              height: 60px;
              border-radius: 50%;
              overflow: hidden;
              grid-area: one;
            }
            .details {
              grid-area: two;
              h4 {
                a {
                  color: $black-c;
                }
              }
            }
            .actions {
              grid-area: three;
              display: flex;
              gap: 10px;
              > div {
                width: 45px;
                height: 25px;
                border-radius: 10px;
                display: grid;
                place-content: center;
                cursor: pointer;
                i {
                  font-size: 30px;
                }
              }
              .accept {
                background-color: $green-c;
                i {
                  color: $white-c;
                }
              }
              .reject {
                background-color: #ffd9e9;
                i {
                  color: #ce095f;
                }
              }
            }
          }
        }
      }
      .empty {
        width: 100%;
        height: 100%;
        display: grid;
        place-content: center;
        border: 1px solid #0dca922b;
        border-radius: 10px;
        img {
          width: 100px;
        }
        p {
          color: $green-c;
          font-weight: 800;
          text-align: center;
        }
      }
      .hide {
        display: none;
      }
    }
  }
}

.change-images {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #0000008a;
  backdrop-filter: blur(20px);
  z-index: 100;
  inset: 0;
  overflow: hidden;
  display: none;
  .content {
    position: relative;
    max-width: 1050px;
    margin: 0 auto;
    .close {
      position: absolute;
      right: 0;
      background-color: #fff;
      width: 1.2em;
      height: 1.2em;
      display: grid;
      place-content: center;
      color: red;
      border-radius: 0.2em;
      z-index: 1;
    }
    .back {
      height: 300px;
      position: relative;
      .change-back {
        position: absolute;
        right: 0.1em;
        bottom: 0.3em;
        .custom-back-upload {
          background-color: #f0f0f0;
          color: $green-c;
          font-weight: 700;
          padding: 0.1em 0.4em;
          border-radius: 0.2em;
          display: grid;
          place-content: center;
          column-gap: 0.3em;
          width: fit-content;
          grid-template-columns: auto 1fr;
          cursor: pointer;
          i {
            display: grid;
            place-content: center;
          }
        }
      }
    }
    .ava {
      width: 190px;
      height: 190px;
      position: relative;
      top: -90px;
      left: 28px;
      img {
        border-radius: 50%;
      }
      .change-ava {
        position: absolute;
        bottom: -1em;
        left: 50%;
        transform: translateX(-50%);
        .custom-ava-upload {
          padding: 0.2em 0.5em;
          background-color: #f0f0f0;
          color: $green-c;
          border-radius: 0.2em;
          display: grid;
          grid-template-columns: auto 1fr;
          column-gap: 0.5em;
          place-content: center;
          width: fit-content;
          cursor: pointer;
          i {
            display: grid;
            place-content: center;
          }
        }
      }
    }
    .save-changes {
      display: grid;
      place-content: center;

      input {
        padding: 0.5em 1em;
        border-radius: 0.5em;
        background-color: $green-c;
        color: $white-c;
        cursor: pointer;
        border: none;
      }
    }
  }
}

@media (min-width: 650px) {
  .main {
    height: calc(100vh - 30px);
    .profile {
      .status {
        .friends {
          padding: 20px 174px;
        }
      }

      .friendsList {
        display: grid;
        grid-template-areas:
          "one one"
          "two three";
        grid-auto-columns: 1fr 1fr;
        .switch {
          grid-area: one;
          justify-content: space-evenly !important;
          h4 {
            background-color: $green-c !important;
            color: $white-c !important;
          }
        }
        .myFriends {
          grid-area: two;
        }
        .friendReq {
          grid-area: three;
        }
        .hide {
          display: grid !important;
          grid-auto-rows: auto 1fr;
        }
      }
    }
  }
}

@media (min-width: 860px) {
  .main {
    .profile {
      display: grid;
      grid-template-areas:
        "one one"
        "two three"
        "four four";
      grid-auto-columns: 300px 1fr;
      .ava {
        grid-area: one;
        .userAva {
          left: unset;
          transform: unset;
        }
      }
      .details {
        grid-area: two;
      }
      .about-fri {
        grid-area: three;
      }
      .status {
        .friends {
          padding: 20px 0px;
        }
      }
      .friendsList {
        grid-area: four;
        .switch {
          display: none;
        }
        .myFriends {
          > h4 {
            display: unset;
            padding: 5px 15px;
            margin-bottom: 5px;
            font-size: 20px;
            font-weight: 800;
            position: relative;
            border-left: 5px solid $green-c;
            border-radius: 10px;
          }
          .fri {
            display: unset !important;
          }
        }
        .friendReq {
          > h4 {
            display: unset;
            padding: 4px 105px;
            font-size: 20px;
            font-weight: 800;
          }
          .reqList {
            margin-top: 10px;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .main {
    height: calc(100vh - 32px);
    margin-left: 150px;
  }
}
