$green-c: #0dca92;
$black-c: #00291d;

.main {
  .content {
    background-color: #fff;
    .logo {
      padding: 20px;
      h1 {
        color: #003b2a;
        span {
          color: $green-c;
        }
      }
    }
    .login {
      display: grid;
      grid-template-columns: 1fr minmax(500px, 1fr);
      height: calc(100vh - 83.2px);

      .cover {
        position: relative;
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        .shapes {
          width: 100%;
          height: 100%;
          background-image: linear-gradient(179deg, #36e6b1, #00ce67);
          position: absolute;
          overflow: hidden;
          .triangle {
            clip-path: polygon(100% 0, 0 50%, 100% 100%);
            background-color: #00976a4f;
            display: block;
            position: absolute;
          }
          & :nth-child(1) {
            width: 50px;
            height: 70px;
            transform: rotate(180deg);
          }
          & :nth-child(2) {
            width: 100px;
            height: 130px;
            top: 13%;
            right: 10%;
            transform: rotate(313deg);
          }
          & :nth-child(3) {
            width: 40px;
            height: 40px;
            bottom: 10%;
            left: 20%;
            transform: rotate(60deg);
          }
          .circle {
            background-color: #00976a4f;
            display: block;
            position: absolute;
          }
          & :nth-child(4) {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            top: 60%;
            right: -20px;
          }
          & :nth-child(5) {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            top: 80%;
            right: 30%;
          }
        }
        .content {
          position: relative;
          width: 100%;
          height: 100%;
          background-color: transparent;
          backdrop-filter: blur(5px);
          display: grid;
          place-items: center;
          div {
            .head {
              p,
              h2 {
                color: #fff;
                padding: 15px;
              }
              h2:after {
                background-color: #fff;
              }
            }
            .logIn {
              padding-top: 30px;
              display: grid;
              place-items: center;
              a {
                color: #fff;
                border: 1px solid;
                padding: 15px 40px;
                border-radius: 25px;
                font-weight: 800;
                width: 150px;
                margin: 30px auto;
                text-align: center;
                cursor: pointer;
                transition: background-color 0.2s linear;
                &:hover {
                  background-color: white;
                  color: $green-c;
                }
              }
            }
          }
        }
      }
      .content {
        position: relative;
        overflow: hidden;
        .shape {
          svg {
            position: absolute;
            left: 75%;
            bottom: -18%;
            width: 300px;
          }
        }
        .head {
          h2 {
            color: $green-c;
            text-align: center;
            padding: 20px 0;
            position: relative;
            font-weight: 800;
            font-size: 2.2em;
            margin-bottom: 25px;
            &::after {
              content: "";
              position: absolute;
              width: 80px;
              height: 5px;
              border-radius: 10px;
              background-color: $green-c;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
            }
          }
          .otherSingup {
            display: flex;
            justify-content: center;
            li {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              box-shadow: inset 0px 0px 7px 0px #00000029;
              margin: 0 10px;
              a {
                color: $black-c;
                display: grid;
                place-items: center;
                width: 100%;
                height: 100%;
              }
              i {
                font-size: 28px;
              }
              ion-icon {
                font-size: 25px;
              }
            }
          }
          p {
            text-align: center;
            padding: 30px 0;
            color: #a6a6a6;
            font-weight: 600;
          }
        }
        .form {
          .error {
            text-align: center;
            margin-bottom: 20px;
            font-weight: 600;
            color: #e7006a;
          }
          form {
            > div {
              display: flex;
              flex-direction: column;
              max-width: 360px;
              margin: 0 auto 30px;
              position: relative;
              > input {
                border: none;
                outline: none;
                padding: 20px;
                border-radius: 7px;
                box-shadow: 0 0 1px 1px #0000003b;
                background-color: transparent;
                z-index: 2;
                &:focus {
                  box-shadow: 0 0 1px 1px $green-c;
                }
                &:focus + label {
                  top: -1px;
                  background-color: #fff;
                  z-index: 3;
                  padding: 0 5px;
                }
              }
              > label {
                color: #a6a6a6;
                font-weight: 600;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 20px;
                transition: top 0.1s linear;
                z-index: 1;
              }
              .notValid {
                box-shadow: 0 0 1px 1px #df0a63;
                &:focus {
                  box-shadow: 0 0 1px 1px #df0a63;
                }
                & + label {
                  top: -1px;
                  background-color: #fff;
                  color: #df0a63;
                  z-index: 3;
                  padding: 0 5px;
                }
              }
              .valid {
                box-shadow: 0 0 1px 1px $green-c;
                &:focus {
                  box-shadow: 0 0 1px 1px $green-c;
                }
                & + label {
                  top: -1px;
                  background-color: #fff;
                  color: $green-c;
                  z-index: 3;
                  padding: 0 5px;
                }
              }
              .full {
                top: -1px;
              }
            }
            button {
              padding: 15px 40px;
              background-color: $green-c;
              color: #fff;
              font-size: larger;
              font-weight: 800;
              border-radius: 20px;
              border: none;
              outline: none;
              width: 180px;
              position: relative;
              left: 50%;
              transform: translateX(-50%);
              cursor: pointer;
              margin-bottom: 40px;
              &:hover {
                background-color: #0b9d72;
              }
            }
            .notReady {
              background-color: #71a495;
              pointer-events: none;
            }
          }
          .haveAccount {
            text-align: center;
            padding: 10px;
            margin-bottom: 20px;
            display: none;
            p {
              color: #014833;
              font-weight: 600;
              a {
                color: #0b9d72;;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 860px) {
  .login {
    display: inherit !important;
    .cover {
      display: none;
    }
    .form {
      form {
        button {
          margin-bottom: 0 !important;
        }
      }
      .haveAccount {
        display: block !important;
      }
    }
  }
}
@media (min-width: 860px) {
  .login {
    .content {
      overflow: inherit !important;
      .shape {
        display: none;
      }
    }
  }
}
